<!DOCTYPE html>
<html lang="fr">


	<head>
		<meta charset="utf-8">
		<title>Emargement Algorityhmique</title>
	</head>



	<body>
		<header>
			<h1>Algorithmique<h1>
				<link rel="stylesheet" type="text/css" href="/home/coulibaly/Bureau/envir/projets/projet1/static/css/code_3page.css" />
		</header>
		<form method="post" action="">
			<input type="submit" value="Ajouter un emmargement"/>
		</form>
		<p>Historique</p>
		<table>
				<tr>
						<th>date</th>
						<th>lecons</th>
						<th>absents</th>
				</tr>
				<tr>
						<td> 2019/04/12</td>
						<td>           </td>
						<td>            </td>
				</tr>
				<tr>
						<td>2019/04/12</td>
						<td>          </td>
						<td>           </td>
				</tr>
				<tr>
						<td>2019/04/12</td>
						<td>          </td>
						<td>          </td>
				</tr>
		</table>
	</body>



</html>
