<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>e-Emargement</title>
    <link rel="stylesheet" type="text/css" href="/home/coulibaly/Bureau/envir/projets/projet1/static/css/login.css" />

</head>
<body>
  <section>
    <form method ="post" action="/home/coulibaly/Bureau/envir/projets/projet1/templates/menu.html">
        <p1>
        <input type="text" name="pseudo" placeholder="Login"/ >
      </p1>
        <p2>
            <input type="password" name="pass"  placeholder="Mot de passe"/>
        </p2>
        <p3>
            <input type="submit" value="     connexion      " class="bedel"/>
        </p3>
    </form>
  <section/>
</body>
</html>


