<!DOCTYPE html>
<html lang="fr">


	<head>
		<meta charset="utf-8">
		<title>Acceuil</title>
	</head>



	<body>
		<header>
				<big><h1>Licence1<h1></big>
			<link rel="stylesheet" type="text/css" href="/home/coulibaly/Bureau/envir/projets/projet1/static/css/menu.css" />
		</header>
		<section>
			<ul>
			<h2><a href="licence/algorithmique.html">Algorithmique</a></h2>
			<h2><a href="licence/robotique.html">Robotique</a></h2>
			<h2><a href="licence/programmation_python.html">Programmation python</a></h2>
			<ul>
		</section>
	</body>




</html>
